# The instance ID and security group of an existing EC2 instance.  The instance should be in running or stopped state.
export INSTANCE_ID=i-0eabcdef1234567
export SECURITY_GROUP_ID=sg-0a1b2c3e4f56789

# To configure VS Code running on windows with remote ssh access to the ec2 host
export VSCODE_SSH_CONFIG_PATH="/mnt/c/Users/Public/.ssh/config"
export VSCODE_SSH_PEM_FILE_PATH="C:\path\to\pem\default-remote-dev.pem"

# To establish an ssh connection
export SSH_PEM_FILE_PATH="~/path/to/pem/default-remote-dev.pem"